@charset "UTF-8";
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #fff8f0;
  color: #333;
}

h1 {
  text-align: center;
  color: #6b3e26;
}

.ingredients {
  display: flex;
  gap: 20px;
}

.column {
  flex: 1;
  background-color: #f4e1d2;
  padding: 15px;
  border-radius: 8px;
}

.instructions {
  gap: 30px;
  background-color: #add8e6;
  padding: 15px;
  border-radius: 8px;
}

ul {
  padding-left: 20px;
}
