@charset "UTF-8";
body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
p {
  color: red;
}

.column {
  flex: 1;
  background-color: #eaeaea;
  padding: 15px;
  border-radius: 8px;
}

.bottom-section{
  margin-top: 30px;
  background-color: #f4e1d2; 
  border-radius: 8px;
}
