2@charset "UTF-8";
body {
  font-family: "Ubuntu", "Meiryo", sans-serif;
  background-color: #ffefe2;
}

h1 {
  text-align: center;
  color: #FF007F;
  font-weight: bold;
  font-size: 2em; 
}

h2 {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em; 
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}

.instructions {
  background-color: lightgrey;
  border-radius: 8px;
  padding: 1em;
  margin: 1em
}

ol {
  line-height: 1.8;
}

ul {
  column-count: 2;
  column-gap: 20px;
  column-rule: 4px dotted;
}
